#layout-footer{
    z-index: 8;
  color: white;
  a{
      color: white;
      text-decoration: none;
  }

  margin-bottom: 0%;
  background: grey;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 37%;
  display: flex;


  .footer-nav{
      ul{
          list-style: none;
      }
  }
}