#home-container {
  display: flex;
}
body{
    font-family: "Source Sans Pro", "Arial", sans-serif;

}
#home-container #feed-posts {
  width: 70%;
  padding: 10px;
}
#home-container #user-friends {
  width: 30%;
  padding: 10px;
  border-left: 1px solid black;
  height: auto;
}
#friends{
  width: 50%;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#friendsList {
  text-decoration: none;
  color: black;
}
#friends:hover {
  background-color: lightgray;
}
#posts-input{
  outline: none;
  border: 1px solid lightgray;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#addPosts{
  background-color: #2196f3;
  margin-top: 15px;
  width: 3rem;
  padding: 3px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
