#comments-container {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 90%;
  height: auto;
  background-color: #FFFFFF;
  font-size: larger;
  font-family: "Times New Roman", Times, serif; }

.delete-button {
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 15px; }
